In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("hotel_booking_data.csv")

In [4]:
df.head(5)

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,name,email,phone-number,credit_card
0,Resort Hotel,0,342,2022,July,27,1,0,0,2,...,Transient,0.0,0,0,Check-Out,01-07-2022,Ernest Barnes,Ernest.Barnes31@outlook.com,669-792-1661,************4322
1,Resort Hotel,0,737,2022,July,27,1,0,0,2,...,Transient,0.0,0,0,Check-Out,01-07-2022,Andrea Baker,Andrea_Baker94@aol.com,858-637-6955,************9157
2,Resort Hotel,0,7,2022,July,27,1,0,1,1,...,Transient,75.0,0,0,Check-Out,02-07-2022,Rebecca Parker,Rebecca_Parker@comcast.net,652-885-2745,************3734
3,Resort Hotel,0,13,2022,July,27,1,0,1,1,...,Transient,75.0,0,0,Check-Out,02-07-2022,Laura Murray,Laura_M@gmail.com,364-656-8427,************5677
4,Resort Hotel,0,14,2022,July,27,1,0,2,2,...,Transient,98.0,0,1,Check-Out,03-07-2022,Linda Hines,LHines@verizon.com,713-226-5883,************5498

In [5]:
df.isna().sum()

hotel                                  0
is_canceled                            0
lead_time                              0
arrival_date_year                      0
arrival_date_month                     0
arrival_date_week_number               0
arrival_date_day_of_month              0
stays_in_weekend_nights                0
stays_in_week_nights                   0
adults                                 0
children                               4
babies                                 0
meal                                   0
country                              488
market_segment                         0
distribution_channel                   0
is_repeated_guest                      0
previous_cancellations                 0
previous_bookings_not_canceled         0
reserved_room_type                     0
assigned_room_type                     0
booking_changes                        0
deposit_type                           0
agent                              16340
company                           112593
days_in_waiting_list                   0
customer_type                          0
adr                                    0
required_car_parking_spaces            0
total_of_special_requests              0
reservation_status                     0
reservation_status_date                0
name                                   0
email                                  0
phone-number                           0
credit_card                            0
dtype: int64

In [6]:
df.drop(columns=['name','email','phone-number','credit_card','unnamed : 36'],errors='ignore',inplace=True)

In [7]:
df['children'].fillna(0,inplace=True)

C:\Users\admin\AppData\Local\Temp\ipykernel_5812\3709283096.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['children'].fillna(0,inplace=True)

In [8]:
df['country'].fillna(0,inplace=True)

C:\Users\admin\AppData\Local\Temp\ipykernel_5812\799316127.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['country'].fillna(0,inplace=True)

In [9]:
df['agent'].fillna(0,inplace=True)

C:\Users\admin\AppData\Local\Temp\ipykernel_5812\2179460827.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['agent'].fillna(0,inplace=True)

In [10]:
df['company'].fillna('unknown',inplace=True)

C:\Users\admin\AppData\Local\Temp\ipykernel_5812\4074434369.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['company'].fillna('unknown',inplace=True)
C:\Users\admin\AppData\Local\Temp\ipykernel_5812\4074434369.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'unknown' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df['company'].fillna('unknown',inplace=True)

In [11]:
df.isna().sum()

hotel                             0
is_canceled                       0
lead_time                         0
arrival_date_year                 0
arrival_date_month                0
arrival_date_week_number          0
arrival_date_day_of_month         0
stays_in_weekend_nights           0
stays_in_week_nights              0
adults                            0
children                          0
babies                            0
meal                              0
country                           0
market_segment                    0
distribution_channel              0
is_repeated_guest                 0
previous_cancellations            0
previous_bookings_not_canceled    0
reserved_room_type                0
assigned_room_type                0
booking_changes                   0
deposit_type                      0
agent                             0
company                           0
days_in_waiting_list              0
customer_type                     0
adr                               0
required_car_parking_spaces       0
total_of_special_requests         0
reservation_status                0
reservation_status_date           0
dtype: int64

In [13]:
df['children'] = df['children'].astype(int)

In [18]:
df.to_csv("hotel_cleaned_data.csv",index=False)

In [16]:
df.head(5)

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2022,July,27,1,0,0,2,...,No Deposit,0.0,unknown,0,Transient,0.0,0,0,Check-Out,01-07-2022
1,Resort Hotel,0,737,2022,July,27,1,0,0,2,...,No Deposit,0.0,unknown,0,Transient,0.0,0,0,Check-Out,01-07-2022
2,Resort Hotel,0,7,2022,July,27,1,0,1,1,...,No Deposit,0.0,unknown,0,Transient,75.0,0,0,Check-Out,02-07-2022
3,Resort Hotel,0,13,2022,July,27,1,0,1,1,...,No Deposit,304.0,unknown,0,Transient,75.0,0,0,Check-Out,02-07-2022
4,Resort Hotel,0,14,2022,July,27,1,0,2,2,...,No Deposit,240.0,unknown,0,Transient,98.0,0,1,Check-Out,03-07-2022

In [17]:
#df.to_excel("Hotel_cleaned_Data",index=False)